<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:replace="normal/base::Layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>add contact</title>
</head>
<body>

	<section>
		<div class="card mr-5 ml-5">
			<div class="card-body">
				<h1 class="text-center">Add Contact</h1>

				<div th:if="${session.msg}" class="container">

					<div th:classappend="${'alert-'+session.msg.type}"
						class="alert text-center" role="alert">
						<span th:text="${session.msg.content}"></span>
					</div>
					<th:block th:text="${@sessionRemover.removeMessageFromSession()}"></th:block>
				</div>

				<div class="container-fluid mt-1">
					<div class="row">
						<div class="col-md-8 offset-md-2">


							<form action="" th:object="${contact}"
								enctype="multipart/form-data" method="post"
								th:action="@{/user/process-contact}" class="mt-2">

								<!--first name  -->
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text" id="basic-addon1">
											<i class="fa-solid fa-user"></i>
										</div>
									</div>
									<input type="text" name="name" class="form-control"
										placeholder="Enter name">
								</div>
								<!--second name  -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text" id="basic-addon1">
											<i class="fa-solid fa-face-smile"></i>
										</div>
									</div>
									<input type="text" name="nickName" class="form-control"
										placeholder="Enter nickname">
								</div>

								<!-- Phone number -->

								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text" id="basic-addon1">
											<i class="fa-solid fa-phone"></i>
										</div>
									</div>
									<input type="number" name="phone" class="form-control"
										placeholder="Enter phone">
								</div>

								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text" id="basic-addon1">
											<i class="fa-solid fa-envelope"></i>
										</div>
									</div>
									<input type="email" name="email" class="form-control"
										placeholder="Enter email">
								</div>

								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text" id="basic-addon1">
											<i class="fa-solid fa-briefcase"></i>
										</div>
									</div>
									<input type="text" name="work" class="form-control"
										placeholder="Enter work">
								</div>
								<div class="form-group mt-3">
									<textarea name="description"  rows="10"
										class="form-control" placeholder="Enter contact description"></textarea>
								</div>
								<div class="custom-file">
									<input type="file" name="img" class="form-control" />
								</div>

								<div class="container text-center mt-1">
									<button class="btn btn-outline-primary">Save Contact</button>
								</div>


							</form>
						</div>
					</div>

				</div>
			</div>
		</div>
	<!-- 	<script
			src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js"
			referrerpolicy="origin"></script> -->
		<!-- <script>
      tinymce.init({
        selector: '#mytextarea'
      });
    </script> -->
	</section>
</body>
</html>